<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>galleryPage</title>
</head>
<body>
    <div>
        <img src="/public/img/DfkhrO1XUAEYkdw.jpg" alt="">
        <img src="/public/img/meilleure-banque-image.jpg" alt="">
        <img src="/public/img/photo-1453728013993-6d66e9c9123a.jpg" alt="">
    </div>
    <a href="/">Acceuil</a>
</body>
</html>